body {
  padding: 10px;
  font-family: monospace;
}

.container {
  width: 600px;
}

.square {
  width: 150px;
  height: 150px;
  border: 1px solid lightgray;
}

li {
  margin: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label {
  min-width: 150px;
  font-weight: bold;
}

.range {
  min-width: 200px;
  margin-right: 10px;
}

